.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  padding: 1rem;
  max-width: var(--lg);
}

.title {
  max-width: 37.75rem;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--neural-950-color);
}

.description {
  color: var(--neural-800-color);
  max-width: 37.75rem;
  text-align: center;
  margin-bottom: 2rem;
}

.divider {
  color: var(--neural-800-color);
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.divider::after, .divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--neural-200-color);
}

.blockchainsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2.5rem;
}

.blockchainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--neural-100-color);
  padding: 1rem;
  gap: 4rem;
  flex-shrink: 0;
}

.link {
  color: var(--tertiary-700-color);
  display: flex;
  gap: 0.4rem;
  align-items: center;
}