.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4.5rem auto;
  padding-inline: 2rem;
  max-width: 66.75rem;
}

.title {
  max-width: 37.75rem;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--neural-950-color);
}

.description {
  color: var(--neural-800-color);
  max-width: 37.75rem;
  text-align: center;
  margin-bottom: 2rem;
}

.divider {
  color: var(--neural-800-color);
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.divider::after,
.divider::before {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--neural-200-color);
}

.blockchainsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}

.blockchainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 340px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--neural-100-color);
  gap: 4rem;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blockchainCard:hover {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 8px 17px rgba(0, 0, 0, 0.07), 0px 2.92013px 6.20528px rgba(0, 0, 0, 0.0482987), 0px 1.41767px 3.01255px rgba(0, 0, 0, 0.0389404), 0px 0.694968px 1.47681px rgba(0, 0, 0, 0.0310596), 0px 0.274791px 0.583932px rgba(0, 0, 0, 0.0217013);
}

.link {
  color: var(--tertiary-700-color);
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

@media (min-width: 768px) {
  .blockchainCard {
    flex: 1;
  }

  .blockchainsContainer {
    justify-content: start;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .blockchainCard {
    width: 340px;
    flex: 1;
  }

  .blockchainsContainer {
    flex-wrap: nowrap;
  }
}
