.container {
  background-color: var(--neural-100-color);
  border-radius: 0.75rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  border: 1px solid var(--neural-100-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.container:hover {
  border: 1px solid var(--tertiary-400-color);
  background-color: var(--white-color);
}

.container.light {
  background-color: var(--white-color);
}

.image {
  border-radius: 0.5rem;
}

.title {
  margin-top: 1rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}

.title:hover {
  color: var(--tertiary-600-color);
}

.description {
  color: var(--neural-900-color);
}

.prize {
  color: var(--secondary-700-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.subtitle {
  color: var(--neural-600-color);
}

.level {
  color: var(--tertiary-600-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.level::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: var(--tertiary-600-color);
  border-radius: 50%;
}

.footer {
  color: var(--neural-700-color);
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* To target location and date at the same time */

.footer span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}