.card {
  flex: 1;
  margin: 1rem 0;
  width: 100%;
  min-height: 16rem;
  min-width: 21rem;
}

.card__inner {
  position: relative;
  background-color: var(--white-40);
  border: 1px solid var(--primary-700);
  color: var(--primary-50);
  border-radius: 1rem;
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.card__inner:hover {
  border: 1px solid var(--primary-500);
  background-color: var(--white-120);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 8px 17px rgba(0, 0, 0, 0.07), 0px 2px 6px rgba(0, 0, 0, 0.0482987), 0px 1px 3px rgba(0, 0, 0, 0.0389404), 0px 0.6px 1px rgba(0, 0, 0, 0.0310596), 0px 0.2px 0.5px rgba(0, 0, 0, 0.0217013);
}

.arrow {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  transform: rotate(-45deg);
}

.subtitle, .icon  {
  margin-bottom: 1rem;
}

.link_text {
  margin-top: 2.5625rem;
  color: var(--green-200);
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.link_text svg {
  margin-left: 0.5rem;
}

.title {
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.description {
  margin-top: 0.5rem;
  color: var(--primary-300);
  width: 100%;
  padding-right: 1rem;
}
