.card {
  width: 100%;
  max-width: 32.625rem;
  margin: 1rem;
}

.card__inner {
  position: relative;
  background-color: var(--white-40);
  border: 1px solid var(--white-40);
  min-height: 16rem;
  width: 100%;
  color: var(--primary-50);
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.2s ease-in-out;
}

.card__inner:hover {
  border: 1px solid var(--primary-700);
  background-color: var(--white-80);
}

.arrow {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  transform: rotate(-45deg);
}

.subtitle {
  margin-bottom: 1rem;
}

.title {
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.description {
  font-weight: 400;
  margin-top: 0.5rem;
  color: var(--primary-300);
  width: 100%;
  max-width: 28.625rem;
}
