.card {
  flex: 1;
}

.card__inner {
  position: relative;
  background-color: var(--neural-100-color);
  border: 1px solid var(--neural-100-color);
  min-height: 16rem;
  width: 100%;
  color: var(--neural-800-color);
  border-radius: 0.75rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.card__inner:hover {
  border: 1px solid var(--tertiary-400-color);
  background-color: var(--white-color);
}

.arrow {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  transform: rotate(-45deg);
}

.subtitle {
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 700;
  color: var(--neural-950-color);
  max-width: 13.5625rem;
  transition: all 0.2s ease-in-out;
}

.title:hover {
  color: var(--tertiary-600-color);
}

.description {
  font-weight: 400;
  margin-top: 0.5rem;
  max-width: 19.25rem;
}
