.heading_hash {
  content: '#';
  top: 5%;
  color: var(--primary-700);
  font-size: inherit;
  font-weight: inherit;
  transform: translateX(-0.7rem);
  transition: all 0.2s ease-in-out;
  margin-left: -1rem;
}