.container, .header, .wrapper {
  display: flex;
  width: 100%;
}
.container {
   background: radial-gradient(57.03% 57.03% at 50% 0%, rgba(202, 255, 130, 0.15) 0%, rgba(55, 166, 103, 0.024) 100%);
   padding-bottom: 7.5rem;
}

.wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4.5rem auto 0;
  padding-inline: 2rem;
  max-width: var(--xl);
}

.header {
  justify-content: space-between;
  margin-bottom: 4.25rem;
  flex-flow: row wrap;
}

.title {
  width: 100%;
  color: var(--primary-50);
  max-width: 32.5625rem;
  background: var(--green-gradient-100);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1.6rem;
  margin-bottom: 2rem;
}

.title span {
  background: var(--primary-50);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  width: 100%;
  max-width: 21.25rem;
  min-width: 12rem;
  color: var(--primary-300);
  padding-right: 1rem;
  flex: 1;
}

.divider {
  color: var(--neural-800-color);
  width: 100%;
  border-top: 1px solid var(--primary-700);
  padding: 1rem 0;
  text-transform: uppercase;
}

.blockchainsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
  max-width: var(--xl);
}
@media (min-width: 768px) {
  .blockchainsContainer {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
