.container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.content > * {
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .content {
    width: 44rem;
  }
  .content p {
    width: 37.75rem;
  }
}