.container {
  background-color: var(--primary-950);
  backdrop-filter: blur(64px);
  padding: 6rem 2rem;
}

.inner_container {
  max-width: var(--xl);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header, .header__left {
  display: flex;
  justify-content: space-between;
}
.header {
  flex-direction: column;
}

.header__left {
  margin-bottom: 4.25rem;
  flex-flow: row wrap;
}

.title {
  width: 100%;
  color: var(--primary-50);
  max-width: 32.5625rem;
  background: var(--pink-gradient-100);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1.6rem;
  margin-bottom: 2rem;
}

.title span {
  background: var(--primary-50);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  width: 100%;
  max-width: 21.25rem;
  min-width: 12rem;
  color: var(--primary-300);
  padding-right: 1rem;
  flex: 1;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-flow: row wrap;
}

.learn_tracks {
  border-top: 1px solid var(--primary-700);
  padding-top: 0.5rem;
}

.tracks_label {
  color: var(--primary-500);
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.resource_logo {
  height: 120px;
}

.resource_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.subtitle {
  color: var(--primary-500);
  white-space: nowrap;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.main_contents {
  border-top: 1px solid var(--primary-700);
  padding-top: 1rem;
}

.courses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.tutorials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.more_link_text {
  margin-top: 0.6rem;
  color: var(--green-200);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.more_link_text svg {
  margin-left: 0.5rem;
}


.more_link_text:hover {
  color: var(--green-500);
}

@media (min-width: 768px) {
  
  .body {
    grid-template-columns: 2fr 1fr;
  }

  .courses {
    grid-template-columns: 1fr 1fr;
  }
}

.testimonial_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}