.container {
  background-color: var(--primary-950);
  backdrop-filter: blur(64px);
  padding: 4rem 2rem;
}

.innerContainer {
  max-width: var(--xl);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  flex-direction: column;
}

.header__left {
  max-width: var(--sm);
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 2rem;
  color: var(--neural-950-color);
  max-width: 30rem;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

.link {
  color: var(--tertiary-500-color);
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.tracksLabel {
  color: var(--neural-500-color);
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.body {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.subtitle {
  color: var(--primary-500);
  display: flex;
  white-space: nowrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.main_contents {
  border-top: 1px solid var(--primary-700);
  padding-top: 1rem;
}

.courses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.tutorials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .header {

    flex-direction: row;

  }

  .body {
    grid-template-columns: 2fr 1fr;
  }

  .courses {
    grid-template-columns: 1fr 1fr;
  }
}