.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  padding-inline: 1rem;
  max-width: 1440px;
  margin-inline: auto;
}

.content > * {
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .content {
    width: 44rem;
    margin: 3rem auto;

  }
  .content p {
    width: 37.75rem;
  }
}