.container {
  color: var(--primary-450);
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 2rem auto;
  border-radius: 1rem;
}

.container h2,
.container h3,
.container h4{
 font-weight: 700;
 margin: 2rem auto;
  color: var(--primary-100);
}
.container h2 {
  font-size: 1.8rem;
}

.container h3 {
  font-size: 1.4rem;
}

.container p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 164%;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
}

.container p code {
  color: var(--primary-300);
}

.container hr {
  margin: 1rem 0;
}


.container ul {
  margin: 1rem 0;
}

.container li {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 1rem;
}

.container iframe {
  display: block;
  width: 100%;
  height: 50vh;
  margin: 4rem auto;
}

.container table {
  width: 100%;
  border-spacing: 0;
  margin: 2rem auto;
  border: 1px solid var(--primary-200);
  border-collapse: collapse;
}

.container tr th {
  text-align: left;
  padding: 1rem;
  border: 1px solid var(--primary-200);
}

.container tr td {
  padding: 1rem;
  border: 1px solid var(--primary-200);
}

.container tr {
  background-color: unset;
  border-top: unset;
}

.container thead {
  border-bottom: 2px solid var(--primary-200);
}

/* Hyperlinks */

.container a {
  color: var(--green-400);
}

.container a:hover, .container a:active, .container a:visited {
  text-decoration: underline;
}

/* Code block */

.container pre {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-900);
  user-select: all;
}

.container pre > div {
  border: none;
}

.container pre code {
  color: var(--white);
}

.container blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.3rem solid var(--primary-700);
  background-color: var(--primary-100);
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
}

.container blockquote P {
  margin: unset;
}

.container aside {
  position: static;
  top: 0;
}

.container p mark {
 color: var(--white-color);
 background-color: var(--primary-300);
}

.blog_heading { 
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-100);
  display: inline-flex;
  align-items: center;
}

a.blog_heading h2{
  margin: 2rem 0;
}

a.blog_heading:link {
  text-decoration: none;
}

a.blog_heading span {
  color: var(--primary-700);
  transform: translateX(-0.7rem);
  transition: all 0.2s ease-in-out;
  margin-left: -1.5rem;
}

a.blog_heading:hover span{
  color: var(--green-500);
}
