.container {
  color: var(--neural-800-color);
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 2rem auto;
  border-radius: 1rem;
}

.container h2,
.container h3,
.container h4{
 font-weight: 700;
 margin: 2rem auto;
  color: var(--neural-950-color);
}
.container h2 {
  font-size: 1.8rem;
}

.container h3 {
  font-size: 1.4rem;
}

.container p{
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 1rem;
}

.container p code {
  color: var(--secondary-300-color);
}

.container hr {
  margin: 1rem 0;
}


.container ul {
  margin: 1rem 0;
}

.container li {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 1rem;
}

.container iframe {
  display: block;
  width: 100%;
  height: 50vh;
  margin: 4rem auto;
}

.container table {
  width: 100%;
  border-spacing: 0;
  margin: 2rem auto;
  border: 1px solid var(--neural-200-color);
  border-collapse: collapse;
}

.container tr th {
  text-align: left;
  padding: 1rem;
  border: 1px solid var(--neural-200-color);
}

.container tr td {
  padding: 1rem;
  border: 1px solid var(--neural-200-color);
}

.container tr {
  background-color: unset;
  border-top: unset;
}

.container thead {
  border-bottom: 2px solid var(--neural-200-color);
}

/* Hyperlinks */

.container a {
  color: var(--tertiary-700-color);
}

.container a:hover, .container a:active, .container a:visited {
  text-decoration: underline;
}

/* Code block */

.container pre {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--neural-900-color);
  user-select: all;
}

.container pre > div {
  border: none;
}

.container pre code {
  color: var(--white-color);
}

.container blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.3rem solid var(--neural-700-color);
  background-color: var(--neural-100-color);
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
}

.container blockquote P {
  margin: unset;
}

.container aside {
  position: static;
  top: 0;
}

.container p mark {
 color: var(--white-color);
 background-color: var(--secondary-300-color);
}

.blog_heading { 
  position: relative;
  /* transform: translateX(1.2rem); */
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--neural-950-color);
}


a.blog_heading:link {
  text-decoration: none;
}

.blog_heading::before {
  content: '#';
  position: absolute;
  left: -1.5rem;
  top: 2%;
  opacity: 0.3;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

.blog_heading:hover::before{
  opacity: 0.7;
}
