.container {
  background: radial-gradient(43.26% 43.26% at 49.62% 100.29%, rgba(255, 130, 242, 0.2) 0%, rgba(150, 55, 166, 0.032) 100%) ;
  padding:7.5rem 2rem;
}
.content_wrapper {
  max-width: var(--xl);
  margin: auto;
}

.title {
  width: 100%;
  color: var(--primary-50);
  max-width: 26.875rem;
  background: var(--green-gradient-100);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1.8rem;
  margin-bottom: 2rem;
}

.title span {
  background: var(--primary-50);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  width: 100%;
  max-width: 21.0625rem;
  min-width: 12rem;
  color: var(--primary-300);
  padding-right: 1rem;
  flex: 1;
}

.headings, .categories {
  display: flex;
  flex-flow: row wrap;
}

.headings {
  justify-content: space-between;
  margin-bottom: 2.25rem;
}

.categories {
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}
