.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--primary-850);
    width: 30rem;
    padding: 2rem;
    border-radius: 0.75rem;
    position: relative;
}

.content h2 {
    font-size: 1.5rem;
    color: var(--primary-100);
    font-weight: 700;
    margin-top: 1rem;
}

.content p {
    color: var(--primary-500);
    margin-top: 0.25rem;
}

.closeBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;
    cursor: pointer;
}

.socialMedia {
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
}

.socialMedia__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--primary-500);
    transition: all 0.2s ease-in-out;
}

.socialMedia__item__image {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-04);
    border-radius: 5.5rem;
}

.socialMedia__item:hover {
    color: var(--green-400);
}

.socialMedia__item:hover .socialMedia__item__image {
    background-color: var(--light-12);
    border: 1px solid var(--primary-500);
}

.socialMedia__item_image img {
    object-fit: contain;
}

.copyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: .75rem 2rem;
    border-radius: 2rem;
    background-color: var(--light-04);
}

.copyContainer > div {
    color: var(--pink-400);
    border-bottom: 1px dashed var(--primary-500);
    padding-bottom: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copyContainer > span {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    color: var(--green-200);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.copyContainer > span:hover {
    color: var(--green-500);
}

.copyContainer > span:active {
    color: var(--green-600);
}