.headings {
  font-weight: bold;
  color: var(--neural-950-color);
  position: relative;
}

.headings::before {
  content: '#';
  position: absolute;
  left: -1.5rem;
  top: 5%;
  opacity: 0.3;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.overview {
  color: var(--neural-800-color);
  margin: 0.5rem 0 3rem;
  max-width: 36.8125rem;
}

.mainContent {
  margin: 3.5rem auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .mainContent {
    max-width: var(--xl);
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}