.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    width: 480px;
    padding: 40px;
    border-radius: 0.75rem;
}