.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.leftSidebar, 
.rightSidebar {
  position: fixed;
  flex-direction: column;
  padding: 2rem 2rem;
  transition: all 0.3s ease-in-out;
}

.leftSidebar {
  bottom: -1000px;
  background-color: var(--bg);
  border-right: 1px solid var(--primary-700);
}

.rightSidebar {
  top: -1000px;
}

.leftSidebar.mobile, 
.rightSidebar.mobile {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: var(--bg);
  margin: unset;
  padding: 1.5rem;
  
}

.leftSidebar.mobile {
  bottom: -1px;
}

.rightSidebar.mobile {
  top: 4.375rem;
}

.leftSidebar__link {
  color: var(--primary-200);
  padding: 0.875rem 0.75rem;
  border-radius: 0.75rem;
  display: inline-flex;
  transition: all 0.2s ease-in-out;
}

.leftSidebar__link.active {
  color: var(--green-400);
}

.leftSidebar__link:hover {
  background: var(--light-12);
}

.rightSidebar__link {
  color: var(--primary-500);
  padding: 0.6rem 0.8rem;
  border-left: 2px solid var(--primary-700);
  margin: 0;
  display: none;
  transition: all 0.2s ease-in-out;
}


.leftSidebar.mobile,
.rightSidebar.mobile .rightSidebar__link {
  display: block;
}

.rightSidebar__link.active {
  color: var(--primary-100);
  border-left: 2px solid var(--green-500);
}

.rightSidebar__link:hover {
  color: var(--green-400);
}
.content_wrapper,
.rightSidebar{
  margin: 4rem auto auto;
}

.content {
  width: 100%;
}
.content_wrapper {
  padding-inline: 2rem;
}

.footer {
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.footer > div {
  margin-bottom: .5rem;
  width: 100%;
}

.footer > div > a {
  width: 100%;
}

@media ( min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .footer > div {
    margin-bottom: unset;
  }

  .footer > div > a {
    width: fit-content;
  }
}

@media (min-width: 1024px){
  .rightSidebar.mobile {
    top: 5rem;
  } 
}
  

@media (min-width: 1280px) {
  .container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "sidebar maincontent sidenav";
  }

  .leftSidebar__link {
    border-radius: 0;
  }

  .leftSidebar__link > span {
    transform: translateX(4rem);
  }

  .leftSidebar.mobile, 
  .rightSidebar.mobile {
    margin: revert;
    left: unset;
    right: unset;
    background-color: unset;
  }

  .leftSidebar.mobile {
    bottom: unset;
  }

  .rightSidebar.mobile {
    top: unset;
  }

  .leftSidebar, 
  .rightSidebar, 
  .leftSidebar.mobile, 
  .rightSidebar.mobile {
    display: flex;
    position: sticky;
  }

  .leftSidebar, .rightSidebar {
    padding: 2rem 2rem;
    top: 5rem;
  }

  .leftSidebar{
    grid-area: sidebar;
    padding: 2rem 0;
  }
  .rightSidebar{
    grid-area: sidenav;
  }

  .rightSidebar__link {
    display: block;
  }

  .content_wrapper {
    padding: 0px 1.5rem 0px 2rem;
  }

  .content {
    width: var(--md);
    grid-area: maincontent;
  }
}
