.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.leftSidebar, 
.rightSidebar {
  position: fixed;
  flex-direction: column;
  margin: 2rem 2rem;
  transition: all 0.3s ease-in-out;
}

.leftSidebar {
  bottom: -1000px;
}

.rightSidebar {
  top: -1000px;
  
}

.leftSidebar.mobile, 
.rightSidebar.mobile {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: var(--tertiary-50-color);
  margin: unset;
  padding: 1.5rem;
  
}

.leftSidebar.mobile {
   bottom: -1px;
}

.rightSidebar.mobile {
  top: -1px;
}

.sidebar__header {
  color: var(--neural-700-color);
  margin-bottom: 1rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
}

.leftSidebar__link {
  color: var(--primary-950-color);
  padding: 0.875rem 0.75rem;
  border-radius: 0.75rem;
  display: none;
}


.leftSidebar__link.active {
  background-color: var(--tertiary-100-color);
}

.rightSidebar__link {
  color: var(--neural-500-color);
  padding: 0.6rem 0.8rem;
  border-left: 2px solid var(--neural-100-color);
  margin: 0;
  display: none;
}

.leftSidebar.mobile .leftSidebar__link,
 .rightSidebar.mobile .rightSidebar__link {
  display: block;
}
.rightSidebar__link.active {
  color: var(--neural-950-color);
  border-left: 2px solid var(--tertiary-500-color);
}

.content {
  margin: auto;
  width: 100%;
}
.content_wrapper {
  padding-inline: 2rem;
}

.footer {
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media ( min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "sidebar maincontent sidenav";
  }

  .leftSidebar.mobile, 
  .rightSidebar.mobile {
    margin: revert;
    left: unset;
    right: unset;
    background-color: unset;
  }

  .leftSidebar.mobile {
    bottom: unset;
  }

  .rightSidebar.mobile {
    top: unset;
  }

  .leftSidebar, 
  .rightSidebar, 
  .leftSidebar.mobile, 
  .rightSidebar.mobile {
    display: flex;
    position: sticky;
    top: 2rem;
    max-height: 100vh;
  }

  .leftSidebar, .rightSidebar {
    margin: 2rem 2rem;
  }

  .leftSidebar{
    grid-area: sidebar;
  }
  .rightSidebar{
    grid-area: sidenav;
  }

  .leftSidebar__link, .rightSidebar__link {
    display: block;
  }

  .content_wrapper {
    padding: 0px 1.5rem 0px 5.6875rem;
  }

  .content {
    width: var(--md);
    grid-area: maincontent;
  }
}
  