.container {
  background-color: var(--white-color);
  padding: 0 2rem;
}

.banner {
  margin: auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
}

.title_a {
  color: var(--neural-variant-600-color);
  font-feature-settings: "calt";
}

.arrow {
  color: var(--tertiary-700-color);
  margin-right: 1rem;
}

.banner_left {
   width: 100%;
   margin-bottom: 2rem;
}


.title {
  color: var(--neural-950-color);
  margin-bottom: 2rem;
}


.imageContainer {
  background-color: var(--secondary-200-color);
  flex: 1;
  overflow: hidden;
  position: relative;
  display: none;
  height: 100%;
  width: 50vw;
  align-items: center;
  justify-content: center;
}


 .imageContainer:before {
   position: absolute;
   content: "";
   left: 9.625rem;
   right: 9.625rem;
   top: 4.375rem;
   bottom: 4.375rem;
   background-color: var(--secondary-400-color);
   border-radius: 347.1875rem;
 }

.image {
  position: relative;
  width: 90%;
  max-width: 520px;
  height: 408px;
}


.list {
  padding: unset;
  margin-bottom: 2rem;
}

.list_item {
  list-style: none;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.list_icon {
  margin-right: 1.0625rem;
}

@media (min-width: 1024px) {
  .container {
    padding: unset;
    height: 44.25rem;
  }

  .banner_left {
    flex: 1;
    transform: translateX(2rem);
  }
 
  .imageContainer {
    display: flex;
  }

  .imageContainer:before {
    left: 5rem;
    right: 5rem;
    top: 4rem;
    bottom: 4rem;
  }
  .title {
    max-width: 32.6875rem;
  }

  .list {
    width: 24.375rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: unset;
  }

  .banner_left {
    transform: translateX(5rem);
  }

  .imageContainer:before {
    left: 9.625rem;
    right: 9.625rem;
    top: 4.375rem;
    bottom: 4.375rem;
  }
 
}
@media (min-width: 1476px) {
  .banner {
    max-width: var(--xl);
  }

  .imageContainer:before {
    left: 7rem;
    right: 7rem;
    top: 4rem;
    bottom: 4rem;
  }

   .banner_left {
     transform: unset;
  }
}