.blockchain_card {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 32.625rem;
  min-width: 21rem;
  padding: 2rem;
  background-color: var(--white-40);
  border: 1px solid var(--primary-700);
  color: var(--primary-50);
  border-radius: 1rem;
  gap: 0rem;
  flex-shrink: 1;
  flex: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.blockchain_card:hover {
  background-color: var(--white-80);
  border: 1px solid var(--primary-600);
}


.link_text, .blockchain_card {
  display: flex;
  align-items: center;
}
.link_text {
  margin-top: 2.5625rem;
  color: var(--green-200);
  text-transform: uppercase;
  align-self: flex-start;
}

.link_text img {
  margin-left: 0.5rem;
}