.nav {
  background-color: var(--white-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.078);
}
.container {
  margin-inline: auto;
  max-width: 1440px;
  padding: 1.2rem 1rem;
  position: relative;
}

.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1rem;
  letter-spacing: -0.03em;
  color: var(--black-color);
  user-select: none;
}
.nav_links {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  display: none;
}

.nav_contents, .nav_links.mobile {
  display: flex;
}

.nav_links.mobile {
  flex-direction: column;
  align-items: start;
  padding: 3rem 1.5rem 1rem;
  z-index: 1;
}

.nav_contents {
  align-items: center;
  flex-wrap: wrap;
}
.nav_links li {
  margin-bottom: 1.875rem;
  list-style: none;
  white-space: nowrap;
  display: none;
}

.nav_links.mobile li{
    display: block;
}

.nav_links li > a {
  display: inline-block;
}


.githublogo {
  position: absolute;
  right: 1rem;
  top: 30%;
  z-index: 10;
  display: none;
}

.menu_btn {
  display: flex;
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
  cursor: pointer;
}

/* Media Query */

@media (min-width: 1024px) {

  .container {
    padding: 1.5rem;
  }


  .menu_btn {
    display: none;
  }

  .nav_contents {
    flex-wrap: unset;
  }

  .nav_links.mobile {
    flex-direction: row;
    top: unset;
    padding: unset;
  }

  .nav_links {
    display: flex;
    position: relative;
    flex: auto;
    justify-content: center;
    margin-top: unset;
    top: unset;
    right: unset;
    left: unset;
    flex-direction: row;
  }

  .nav_links li {
    display: block;
    margin-bottom: unset;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav_links li:not(:last-child)::after {
    content: url('/icons/keyboard-arrow-right.svg');
    margin-inline: 1.5rem;
    opacity: 0.2;
  }

  .githublogo {
    display: block;
  }

}