.body, .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  flex-wrap: wrap;
}

.right_content,
.left_content {
  margin-top: 2rem;
  flex: 1 0 100%;
}


.reverse_body {
  flex-direction: row-reverse;
}


.cards {
  flex: 1 0 100%;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .body {
    flex-wrap: nowrap;
    max-width: var(--xl);
    margin: auto;
  }


  .body > .right_content {
    margin-left: 7.1875rem;
  }

.body > .left_content {
  margin-right: 7.1875rem;
  max-width: 20.25rem;
}

.right_content,
.left_content {
  margin-top: unset;
  flex: 1;
}

.cards {
  flex: 1;
}

}