.container {
  background-image: url(/images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 11rem 2rem;
}

.heading {
  background: var(--green-gradient-100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  max-width: 42rem;
}

.heading > span{
   background: var(--primary-50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--primary-300);
  margin: 1.5rem 0 3rem;
  width: 100%;
  max-width: 32.625rem;
}

.contents a,
.contents a:hover {
  color: var(--dark-green-700);
}
.contents a {
  background: var(--green-300);
  border-radius: 2.5rem;
  width: 100%;
  max-width: 11.5625rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.contents a:hover {
  background: var(--green-500);
  box-shadow: 0px 0px 12px rgba(178, 255, 66, 0.48), 0px 2px 48px rgba(178, 255, 66, 0.16);
}