.container {
  background-image:  var(--bg-gradient), url(/images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 11rem 2rem 4rem;
}

.heading {
  background: var(--green-gradient-100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  max-width: 42rem;
}

.heading > span{
   background: var(--primary-50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--primary-300);
  margin: 1.5rem 0 3rem;
  width: 100%;
  max-width: 32.625rem;
}

.contents a,
.contents a:hover {
  color: var(--dark-green-700);
}
.contents a {
  background: var(--white);
  border-radius: 2.5rem;
  width: 100%;
  max-width: 201px;
  height: 64px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 18px 22px rgba(255, 255, 255, 0.08), 0px 7px 9px rgba(255, 255, 255, 0.0575083), 0px 4px 4px rgba(255, 255, 255, 0.0476886), 0px 2px 2px rgba(255, 255, 255, 0.04), 0px 1px 1px rgba(255, 255, 255, 0.0323114), 0px 0.5px 0.6px rgba(255, 255, 255, 0.0224916);
}