.mobile_menu_overlay {
  content: "";
  position: fixed;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--neural-950-color);
  opacity: 0.8;
  z-index: 1;
  display: block;
}
.mobile_menu_overlay.overview {
  top: 0;
}

@media (min-width: 1024px) {
  .mobile_menu_overlay {
    display: none;
  }
}