.navLink {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #FFFFFF;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
}

.link {
  color: #000000;
  padding: unset;
  border-radius: unset;
}
.link:hover,
.activeLink {
  color: var(--tertiary-700-color);
}

.outline {
  background: #FBFDFE;
  border: 1px solid var(--neural-300-color);
  color: var(--neural-950-color);
}

.primary {
  background: var(--tertiary-700-color);
}

.secondary {
  border-radius: unset;
  background: var(--neural-950-color);
}

.icon-left {
  margin-right: 0.6875rem;
}

.icon-right {
  margin-left: 0.6875rem;
}

.iconLeft {
  flex-direction: row-reverse;
}

