.container, .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_container {
  max-width: var(--xl);
  margin: 0 auto;
}

.container {
  padding: 2rem 2rem 4rem;
}

.cards {
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}