.container, .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--bg);
  padding: 2rem;
  height: 100%;
  max-height: 28rem;
}

.cards {

}


/* @media (min-width: 1024px) {
  .container {
    height: 28rem;
  }
} */