.headings {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: var(--primary-100);
  position: relative;
  cursor: pointer;
}

.headings:hover a {
  color: var(--green-500);
}

.overview {
  color: var(--primary-400);
  margin: 0.5rem 0 0;
  max-width: 36.8125rem;
}

.mainContent {
  margin: 3.5rem auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 3rem 0;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1024px) {
  .mainContent {
    max-width: var(--xl);
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

}