.container {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


@media (min-width: 1024px) {
  .container {
    height: 22.6875rem;
  }
  .content {
    max-width: var(--lg)
  }
}